{% extends "base.html" %}

{% block main %}
    <section class="pla-section-results">
        Welcome! Special Thanks to Lincoln, Zyro, Santacrab420, Kurt and Anubis for code, insights and help!
		A HUGE thanks to adam for creating this template, night mode, and pretty much everything that this is based off of.
    </section>
	
	<section class="pla-section-results">
	Questions? Here are my videos on MMOs without CFW and Static Spawns without CFW:
	
	
	<iframe width="560" height="315" src="https://www.youtube.com/embed/Lg1WXHr-lN8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/H3fM1WAJSVQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</section>
{% endblock %}

{% block sidebar %}

        <div class="pla-control-actions">
            <a class="pla-button pla-button-action" href="/seeds">PLA MMO Seed Checker</a>
        </div>
        
		<div class="pla-control-actions">
            <a class="pla-button pla-button-action" href="/spawns">PLA Spawner Checker</a>
        </div>
		
    </section>
{% endblock %}