{% extends "base.html" %}

{% block main %}
    <section class="pla-section-results">
        Welcome! Special Thanks to Lincoln, Zyro, Santacrab420, Kurt and Anubis for code, insights and help!
		A HUGE thanks to adam for creating this template, night mode, and pretty much everything that this is based off of.
    </section>
{% endblock %}

{% block sidebar %}

        <div class="pla-control-actions">
            <a class="pla-button pla-button-action" href="/seeds">PLA Seed Checker (No CFW Needed)</a>
        </div>
        
		<div class="pla-control-actions">
            <a class="pla-button pla-button-action" href="/spawns">PLA Seed Checker (No CFW Needed)</a>
        </div>
		
    </section>
{% endblock %}