<nav class="pla-nav">
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/spawns">Spawns</a>
        </li>
		<li>
			<a href="/multiseed">Multis</a>
		</li>
        <li>
            <a href="/seeds">MMOs</a>
        </li>
        <li>
            <a href="https://github.com/capitalism-sudo/pla-multi-checker/wiki" target="_blank">Wiki</a>
        </li>
        <li>
            <a href="/settings">Settings</a>
        </li>
		<li>
			<a href="https://discord.gg/2JSZnm8GHf">Discord</a>
		</li>
    </ul>
</nav>